<mat-card>
  <h1>Készítő</h1>
  <h3>Rédai Dávid - REDVAAT.SZE / T433YY - FHIR Person beadandó</h3>

  <p>Projektemben felhasznált komponensek:</p>
  <ul>
    <li>Adatmodel</li>
    <li>Firestore</li>
    <li>CRUD + Modal</li>
    <li>Firebase Login</li>
  </ul>

  <p>Projektemben felhasznált de nem egyértelmű dolgok:</p>
  <ul>
    <li>Üres oldal - Az üres oldal azt a célt szolgálja, hogy a negyedik - egyben legutolsó - routing lehetőséget adja
      meg.
    </li>
    <li>Fő oldal - Attribútom és struktúrális direktíva megvalósítására használtam további +1 routing elem.</li>
    <li>Bejelentkezés - Adatbeviteli lehetőséget bíztosit angular form használatával. Továbbá még nem jelentkezik be
      a látogató addig nem tud hozzáférni a Személyek táblázathoz/CRUD rendszerhez
    </li>
  </ul>
</mat-card>
