<div class="container">
  <mat-toolbar  color="primary">
      <span class="fill-remaining-space"></span>
      <span>Person</span>
      <span class="fill-remaining-space"></span>
    <button mat-button [routerLink]="'/'">
      <mat-icon>scatter_plot</mat-icon>
      Üres oldal
    </button>
    <button mat-button [routerLink]="'/home'">
      <mat-icon>house</mat-icon>
      Főoldal
    </button>
    <button mat-button [routerLink]="'/list-person'">
      <mat-icon>person</mat-icon>
      Személyek
    </button>
    <button mat-button [routerLink]="'/creator'">
      <mat-icon>fingerprint</mat-icon>
      Készítő
    </button>
    <button mat-button [routerLink]="'/login'" *ngIf="!belepve; else kilepes">
      <mat-icon>login</mat-icon>
      Belépés
    </button>
    <ng-template #kilepes>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Kijelentkezés
      </button>
    </ng-template>

  </mat-toolbar>
</div>
<router-outlet></router-outlet>

